/* pseudo elements for styling */
.login_bg{
    position: relative;
}
@media only screen and (min-width: 576px) {
    .login_bg{
        position: relative;
        height: 100vh;
        min-height: 100%;
    }
}
.login_bg::before,
.login_bg::after {
    content: '';
    position: absolute;
}
/* pseudo elements for styling */

/* login bg starts */
.login_bg::before,
.login_bg::after {
    left: 0;
    right: 0;
    z-index: -1;
}
.login_bg::before {
    height: 54%;
    top: 0;
    background-color: var(--lightGreen);
}
@media only screen and (min-width: 756px) {
    .login_bg::before {
        height: 51%;
    }
}
.login_bg::after {
    height: 44%;
    bottom: 0;
}
/* login bg ends */

/* lines starts */
.lines {
    display: flex;
    align-items: center;
}
.lines::before,
.lines::after {
    content: ''; 
}
.lines > span {
    flex-grow: 0;
}
.lines::before,
.lines::after {
    background-color: var(--black);
    height: 1px;
}
.lines::before,
.lines::after {
    flex-grow: 1;
}
/* lines ends */

/* form style starts */
.inp_style {
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
}
.inp_style input {
    border: 0;
    width: 100%;
}
.inp_style img {
    height: 100%;
    width: auto;
}
.bg_form {
    position: relative;
}
.bg_form::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: rotateX(45deg) scaleX(1.4) scaleY(0.92) translateY(-41%);
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}
@media only screen and (min-width: 576px) {
    .bg_form::before {
        transform: rotateX(38deg) scaleX(1.3) scaleY(1.05) translateY(-32%);
    }
}
/* form style ends */
nav {
    z-index: 1;
}