:root {
    --lightGreen: rgba(234, 255, 244, 0.9);
    --black: rgb(0, 0, 0);
    --green: rgba(0, 191, 98, 1);
    --xl: calc(1rem + 8px);
    --lg: calc(1rem + 1px);
    --md: calc(1rem - 1px);
    --sm: calc(1rem - 3px);
    --xs: calc(1rem + 1px);
}
body {
    color: var(--black);
}

/* pseudo elements for styling */
.login_bg{
    position: relative;
}
@media only screen and (min-width: 576px) {
    .login_bg{
        position: relative;
        height: 100vh;
        min-height: 100%;
    }
}
.login_bg::before,
.login_bg::after {
    content: '';
    position: absolute;
}
/* pseudo elements for styling */

/* login bg starts */
.login_bg::before,
.login_bg::after {
    left: 0;
    right: 0;
    z-index: -1;
}
.login_bg::before {
    height: 54%;
    top: 0;
    background-color: var(--lightGreen);
}
@media only screen and (min-width: 756px) {
    .login_bg::before {
        height: 51%;
    }
}
.login_bg::after {
    height: 44%;
    bottom: 0;
}
/* login bg ends */

/* lines starts */
.lines {
    display: flex;
    align-items: center;
}
.lines::before,
.lines::after {
    content: ''; 
}
.lines > span {
    flex-grow: 0;
}
.lines::before,
.lines::after {
    background-color: var(--black);
    height: 1px;
}
.lines::before,
.lines::after {
    flex-grow: 1;
}
/* lines ends */

/* form style starts */
.inp_style {
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
}
.inp_style:hover,
label {
    cursor: pointer;
}
.inp_style input {
    border: 0;
    width: 100%;
}
.inp_style img {
    height: 100%;
    width: auto;
}
.bg_form {
    position: relative;
}
.bg_form::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: rotateX(45deg) scaleX(1.4) scaleY(0.92) translateY(-41%);
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}
@media only screen and (min-width: 576px) {
    .bg_form::before {
        transform: rotateX(38deg) scaleX(1.3) scaleY(1.05) translateY(-32%);
    }
}
/* form style ends */
/* font sizes start */
.fs_xl {
    font-size: var(--xl);
}
.fs_lg {
    font-size: var(--lg);
}
.fs_md {
    font-size: var(--md);
}
.fs_sm {
    font-size: var(--sm);
}
.fs_xs {
    font-size: var(--xs);
}
/* font sizes ends */

/* others */
.w_fit { width: fit-content; }
.border_black { border: 1px solid var(--black); }
.border_green { border: 1px solid var(--green); }
.text_black { color: var(--black); }
.text_green { color: var(--green); }
.bg_green { background-color: var(--green); }
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .px_md_6 {
        padding-left: 8rem !important;
        padding-right: 8rem !important;
    }
    .ps_md_6 {
        padding-left: 8rem !important;
    }
}
.py_6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.my_4-5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icon_md {
    height: calc(var(--md) + 5px);
}
.icon_sm {
    height: calc(var(--sm) + 5px);
}
button {
    min-height: 40px;
}