:root {
  /* color variables*/
  --lightGreen: #E7FFF3;
  --black: rgb(0, 0, 0);
  --green: #00BF62;
  --darkGreen: #0A7140;
  /* size variables*/
  --xl: calc(1rem + 8px);
  --lg: calc(1rem + 1px);
  --md: calc(1rem - 1px);
  --sm: calc(1rem - 3px);
  --xs: calc(1rem + 1px);
}

/* global imports */
@import '../src/assets/styles/font.css';
@import '../src/assets/styles/reset.css';

body {
  /* global font */
  font-family: "Noto Sans", serif;
  /* global color */
  color: var(--black);
}
/* size */
.icon_md {
  height: calc(var(--md) + 5px);
}
.icon_sm {
  height: calc(var(--sm) + 5px);
}
.w_fit { width: fit-content; }
/* color styles */
.border_black { border: 1px solid var(--black); }
.border_green { border: 1px solid var(--green); }
.text_black { color: var(--black); }
.text_green { color: var(--green); }
.bg_green { background-color: var(--green); }

/* padding & margin */
@media only screen and (min-width: 768px) {
  .px_md_6 {
      padding-left: 8rem !important;
      padding-right: 8rem !important;
  }
  .ps_md_6 {
      padding-left: 8rem !important;
  }
}
.py_6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.my_4-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* others */
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}